html {
	font: normal 100%/1.2em "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

body {
	padding: 0% 5%;
	background-color: #dcedff;
}

#accueil {
	width=60%;
	text-align: center;
	padding-top: 7%;
	color: #217f64;
}

#logo {

	height: 5em;

}

.nav-item {
	margin-right: 1vw;
	font-weight: 700;
}

.separation-cat {
	margin-top: 0 !important;


	height: 3px !important;
	width: 90%;
}

#title-filtre {
	font-size: 19px;
}

fieldset {
	display: block;
	width: 50%;
	border: 1px solid #353535;
	padding: 2px;
	overflow: hidden;
}

label {
	background: transparent none;
	display: block;
	width: 32%;
	float: left;
	padding-right: 1%;
	text-align: left;
}

input {
	margin-left: 1%;
	width: 30%;
	border: #CCC 1px solid;
}

input:hover,
#ent input:focus {
	border: #999 1px solid;
	background-color: #DDEEFF;
}

input[type="submit"] {
	border: #DDEEFF 1px solid;
	width: 30%;
}

.erreur {
	background-color: rgb(237, 210, 229);
	color: rgb(203, 28, 128);
	font-size: 1.1em;
	width: 95%;
}

.message {
	background-color: rgb(99, 184, 255);
	color: rgb(0, 0, 205);
	font-size: 1.1em;
	width: 95%;
}

.nav-link:hover {
	text-decoration: underline !important;
	text-underline-offset: 8px;
}

#navigation {
	width: 100%;
}

#group-nav {
	display: flex;
}

.navbar-expand-lg .navbar-collapse {
	justify-content: flex-end;
}

.navbar-nav {
	margin-right: 3em;
}

.desc_detail {
	text-align: justify;
	display: block;
	max-width: 200px;
	max-height: 70px;
	overflow: hidden;

	text-overflow: ellipsis;
}

#categories {
	float: left;
	box-shadow: 1px 1px 4px #bbb;
	width: 200px;
	display: flex;
	flex-wrap: wrap;
	height: 200px;
	align-items: center;
	justify-content: center;
	align-content: center;
	background-color: white;
	border-radius: 5px;
	position: absolute;
}

.form-select {
	width: 90%;
}

#produits {
	padding: 0 ;
}

#contenu {}

.bg-light {
	background-color: #dcedff !important;
}

#menu li a,
#categories li a {
	color: black;
	font-family: sans-serif;
	font-size: 19px;
	text-decoration: none;
}

#categories li {
	list-style-type: none;
	list-style-image: none;
	/*float:left; */
	margin-right: 1px;
	border: 1px solid #600;
	width: 100px;
	text-align: center;
	background: #ccff11;
}


#produits a {
	margin-right: 1vw;
	font: 1em "Trebuchet MS", Arial, sans-serif;
}



div.card {
	position: relative;
	width: 220px;
	height: 320px;
	float: left;

	margin: 10px;
	background-color: white;
	box-shadow: 1px 1px 4px #bbb;
	border-radius: 5px;
}

div.photoCard>img {
	max-width: 200px;
	max-height: 140px;

}

.photoCard {
	text-align: center;
}

div.descrCard {
	top: 0px;
	font: .8em "Trebuchet MS", Arial, sans-serif;
	text-align: center;
	height: 30px;
}

.info-card {
	border-top: 1px solid grey;
	border-width: thin;
	display: flex;
	background-color: #dcedff;
}

div.prixCard {
	text-align: center;

}

.descrCard,
.photoCard,
.desc_detail,
.prixCard,
.stock,
.voirProd {
	padding: 10px;
}

div.titre {
	text-align: center;

	margin-bottom: 1em;
}

div.titre span {
	font-size: 25px;
	font-weight: 600;
	color: #217f64;
}

#libelle-cat {
	color: black;
}

div.imgCard {
	position: absolute;
	bottom: 5px;
}


#connexion {
	margin-left: 40px;
	width: 100%;

}

#connexion fieldset {
	width: 94%;


}

#connexion label {
	margin-left: 2%;
	width: 20%;

}

#nomUtil,
#mdp {
	width: 50%;
}

.envoyer {
	text-align: center;
}

#inscription {
	margin-left: 3%;
}

#inscription input {
	width: 45%;
}

#inscription .response {
	margin-left: 2%;
	width: 20%;
}

#inscription fieldset {
	width: 97.5%;
}

#link-insc {
	margin-top: 1%;
	margin-left: 3%;
}

.message-form {
	margin-left: 3%;
	margin-top: 2%;
}




#label-quantite {
	width: 39%;
	position: absolute;
	bottom: 10px;
	right: 33%;
}


#votre-panier{
	text-align: center;
}

#logo-panier {
	margin-top: 40px;
	width: 20%;
	position: absolute;
	bottom: 2%;
	left: 3%;
}

#produits {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}




#link-vider {
	text-decoration: blink;
	background-color: green;
	border-radius: 20px;
	padding: 10px;
	color: white;
}

#link-ajouter-prod {
	text-decoration: blink;
	background-color: #add8e6;
	border-radius: 20px;
	padding: 10px;
	color: black;
}

#total p {
	text-align: center;
}

#valide-quantite {
	display: flex;
	justify-content: flex-end;
	margin-top: 3%;
}

#input-valide-quantite {
	width: 50%;
}

#link-modif {
	width: 50% !important;
	height: 20px !important;
}

#link-modif-prod {

	text-decoration: blink;
	background-color: #add8e6;
	border-radius: 20px;
	padding: 10px;
	color: black;
}

#button-ajouter-prod {
	margin-top: 15%;
	text-align: center;

}

#form-modifAdmin {
	margin-top: 5%;
}

#modifierCardProd {
	width: 100%;
}

#photoCardModif {
	height: 100%;
	width: 100%;
}

.file-for-photo {
	display: flex;
	margin-left: 25%;
	width: 50%;
}

.file-for-photo p {
	margin: 0;
}

#descProdModif {
	height: 35px !important;
	width: 180px !important;
}

#final-submit {
	width: 100%;
	text-align: center;
}

#supprimerCardProd {
	width: 100%;
	margin-top: 2%;
}



#div-for-inputModifier {
	position: absolute;
	bottom: 3%;
	left: 5%;
}

#div-for-inputSupprimer {
	position: absolute;
	bottom: 3%;
	right: 5%;
}

.prixCard2 {
	text-align: center;
	bottom: 20%;
	background-color: #EFEFEF;
}

/*CSS POUR LA PAGE v_leProduit.php */


/*étoiles*/
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* */

#totalProduct{
	text-align: center;
	margin-top:1rem;
}
.open-button{
	border: none;
    background-color: white;
    color: blue;
}
.open-button:hover{
text-decoration: underline;
text-underline-offset: 5px;

}
.input-avis{
	width:100%
}
.form-container{
	height:100%;
	display: grid;
}

.card3Avis{
	width:50vw; 
	height:30vw;
}
.avisPart{
	display: grid;
    justify-content: center;
}
.form-popup{
	position: absolute;
	z-index: 15;
}
#myForm{
	display:none;
}
.unAvis-wrapper{
	display: flex;
	flex-wrap: nowrap;
}
.left-avis{
	width: 20%;
}
.right-avis{
	width: 80%;
}
.avis-header{
	height: 100% !important;
}
.cardProdInfo {
	background-color: white;

}



.cardInfoDuProd {
	max-width: 1000px;
	width: 100%;
	padding: 4rem;
	background-color: rgb(46, 45, 45);
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@media(max-width:768px) {
	.cardInfoDuProd {
		width: 100%;
		padding: 1.5rem
	}
}

.row {
	margin: 0
}

.path {
	color: grey;
	margin-bottom: 1rem
}

.path a {
	color: #ffffff
}

.info {
	padding: 6vh 0vh
}

@media(max-width:768px) {
	.info {
		padding: 0
	}
}

.checked {
	color: rgb(255, 217, 0);
	margin-right: 1vh
}

.fa-star-half-full {
	color: rgb(255, 217, 0)
}

img {
	height: fit-content;
	
	padding: 1rem
}

@media(max-width:768px) {
	img {
		padding: 2.5rem 0
	}
}

.title .col {
	padding: 0
}

.fa-heart-o {
	font-size: 2rem;
	color: #ffffffaf;
	font-weight: lighter
}

#reviews {
	margin-left: 3vh;
	color: grey
}

.price {
	margin-top: 2rem
}


#divGlobal{
	display: flex;
}
#divSeachProducts{
	display: flex;
    float: left;
    margin: 10px;
    width: 20%;
}
#Allproduits{
    display: flex;
    float: right;
    width: 80%;
    flex-wrap: wrap;
}
.cadre{
	background-color: white !important;
	padding-bottom: 2%;
}
.center{
	text-align: center;
}
.price{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.priceMin{
    display: flex;
    float: left;
    width: 40%;
	flex-direction: column;
}
.priceMax{
	display: flex;
    float: right;
    width: 40%;
	flex-direction: column;
}
.selectMarque{
	padding-left: 8%;
    padding-bottom: 5%;
}
#buttonSearchPrice{
	width: 54%;
}
.mb5{
	margin-bottom: 5px;
}
.buttonVoir{
	padding-top: 7%;
    padding-right: 5%;
}
.prixCard .stock{
	font-size: 10px;
}
.powered{
	color: red;
	font-size: 10px;
}
.displayflex{
	display: flex;

}
.divleft{
  display: flex;
  float: left;
}
.divSuggestItems{
	margin: 20px;
border: 1px solid #ccc;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
background-color: #fff;
border-radius: 4px;
overflow: hidden;
overflow-y: scroll;
font-family: 'Helvetica Neue', sans-serif;
}
.divRight{
	display: flex;
  float: right;
  flex-direction: column;
  height: 700px;
}
.nom-prod{
	font-size: small;
    text-align: center;
    word-break: break-all;
}

.container:hover .image {
  opacity: 0.3;
  cursor: pointer;
}

.prodSugg{
	overflow-y: auto;
}
